<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="LAST_DATE_UPDATE" value="01.05.2025" />
		<add key="LOG_PATH" value="" />
	</appSettings>
	<connectionStrings>
		<add name="CRM_KORTROS" connectionString="Url=https://;Integrated Security=true;" />
	</connectionStrings>
</configuration>